html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-size: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    max-height: 120px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}      
a {
    text-decoration:none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
}  

table{
	font-weight: bold;
}

.labelLeft{
	float: left;	
}

.bold{
	font-weight: bold;
}

.center{
	text-align: center;
}

.darkBlue{
	background-color: #002060;
    color: white;
}

.lightBlue{
	background-color: #0070c0;
	color:white;	
}

.medBlue{
   font-weight: bold;
   background-color:  #c3d8ef;
}

.coralBlue{
    background-color: #bde3ff;
    font-weight: bold;
}

.rcBlue{
    font-weight: bold;
    background-color: #dce6f1;
}

.smBlue{
    background-color: #143052;
    color: white;
    font-weight: bold;
}

.othersc{
    background-color: transparent;
    font-weight: bold;
}

.darkBlue{
    background-color: #0f243e;
    color: white;
    font-weight: bold;
}

.grey{
	background-color: #757171;
    color:white;
}

.lightGrey{
	background-color: #a6a6a6;
    color:black;	
}

.odd{
	background-color: #e7eff9;
}

.even{
	background-color: #f9fbfd;
}

